#donate {
  margin-top: 10vh;
  color: var(--c-primary-color3);
  width: max(80%, 375px);
}

#myTab .nav-item.show .nav-link,
#myTab .nav-link.active {
  color: var(--c-primary-color3);
  background-color: transparent;
  border-color: transparent;
}

#myTab .nav-link {
  color: var(--c-primary-color);
  font-size: 1.2em;
}

#myTab .nav-link:focus,
#myTab .nav-link:hover {
  color: var(--c-primary-color2);
}

#myTab .nav-link {
  border: transparent;
}

#myTab li {
  line-height: 30px;
}

#myTab .nav-link.active{
    font-weight: 700;
}
