body {
	background-color: #eee;
	color: #333;
	font-family: 'Noto Sans TC', sans-serif;
}

.emp-title2 {
	text-align: center;
	margin: 2vw;
}

table {
	--bs-table-color: #333;
}

#user-table thead th, 
#user-table tbody td:nth-child(1), 
#user-table tbody td:nth-child(6)
	{
	text-align: center;
}

#emp-news-container, 
#emp-user-container {
	margin: 5vw auto;
}

#emp-news-table-container, 
#emp-user-table-container {
	/* width: 80%; */
	overflow-x: auto;
	margin: 0 auto;
}

/* 新增文章 =============================== */
.post-container {
	margin: 10vh auto;
}

.title-post {
	margin: 2vh auto 1vh;
	font-size: 1.05em;
}

#post-form {
	width: min(80%, 600px);
	margin: 0 auto;
}

.btn-secondary {
	--bs-btn-bg: #666;
	--bs-btn-border-color: #666;
	--bs-btn-hover-bg: #555;
	--bs-btn-hover-border-color: #555;
}

.btn-outline-secondary {
	--bs-btn-color: #666;
	--bs-btn-border-color: #666;
	--bs-btn-hover-bg: #666;
	--bs-btn-hover-border-color: #666;
}