/* 標題 ================================================= */

.news-container {
    margin-bottom: 100px;
}

.news-title {
    width: min(90%, 600px);
    margin: 0 auto;
    font-weight: 700;
    color: var(--c-primary-color3);
    letter-spacing: .05em;
    line-height: 2.5rem;
    text-align: justify;
    font-size: 2rem;
}

/* 訓頭 ================================================= */

.news-date {
    color: var(--c-primary-color3);
    margin: .5em 0;
}

/* 內文 ================================================= */

.news-content {
    width: min(90%, 600px);
    margin: 10px auto;
    text-align: justify;
}

.news-paragraph p {
    color: var(--c-primary-color3);
    letter-spacing: .05em;
    line-height: 1.6em;
    font-size: 1em;
}

.news-paragraph h2{
    color: var(--c-primary-color3);
    letter-spacing: .05em;
    line-height: 2em;
    font-size: 1.35em;
    margin: .75em 0;
}

.news-paragraph a {
    text-decoration: none;
    color: var(--c-primary-color);
}

/* 圖片 ================================================= */

.news-img-container {
    text-align: center;
    margin: 20px 0;
}

.news-img {
    width: 100%;
    object-fit: scale-down;
}

.news-img-caption {
    color: var(--c-primary-color3);
    font-size: .9em;
    line-height: 2em;
}

/* 按鈕 ================================================= */

.btn-secondary {
	--bs-btn-bg: var(--c-primary-color);
	--bs-btn-border-color: var(--c-primary-color);
	--bs-btn-hover-bg: var(--c-primary-color2);
	--bs-btn-hover-border-color: var(--c-primary-color2);
}

.btn-outline-secondary {
	--bs-btn-color: var(--c-primary-color);
	--bs-btn-border-color: var(--c-primary-color);
	--bs-btn-hover-bg: var(--c-primary-color2);
	--bs-btn-hover-border-color: var(--c-primary-color2);
}