/* login ================================================= */

#forget {
	font-size: .75rem;
	line-height: 38px;
}

#birth {
	padding-top: .5rem;
}


/* signup ================================================= */

#register-container {
	margin: 10px auto 100px;
}


/* profile ================================================= */

#profile-container {
	width: max(40%, 375px);
	margin-bottom: 10vh;
	color: var(--c-primary-color3);
}

#donated-list,
#saved-list {
	width: min(96%, 900px);
	margin: 50px auto;
	display: none;
}

.table>:not(caption)>*>* {
	color: var(--c-primary-color3);
}

#donated-list-head,
#saved-list-head {
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
}

#donated-list-body,
#saved-list-body {
	text-align: center;
}

#saved-list-body td:nth-child(2) {
	text-align: left;
}